extends layout

block content
  div(class='container center-div')
    h1(class='text-center')
      img(src='/icons/coffee.svg' width='50' height='50' class='rotate')
      = 'Curious Coffee'
    div(class='row')
      div(class='col-sm-2')
      div(class='col-sm-8')
        span
          | Curious Coffee is an initiative to empower you 
          | to meet new people from other departments within CSA Catapult.
          | To get started, just click #[a(href='/register') Register].

    br
    br
    div(class='row')
      div(class='col-sm-2')
      div(class='col-sm-4 text-left')
        - var participantCount = homepageModel.numParticipants
        span
          strong #{participantCount} participants!

    div(class='row')
      div(class='col-sm-2')
      div(class='col-sm-4 text-left')
        - var matchCount = homepageModel.numMatches
        span
          strong #{matchCount} matches!
    div(class='row')
      div(class='col-sm-12')
        if messages !== undefined && messages != ''
          for message in messages
            br
            div#message_success(class='alert alert-success alert-dismissible fade show text-center' role='alert')
              span#message= message
              button(type='button' class='close' data-dismiss='alert' aria-label='Close')
                span(aria-hidden='true') &times;